.venv/
.venv-gpu/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
site/
.external/
*.egg-info/
external/
*__init__.py

# platformio lib, drivers, vscode
src/morphohand/driver/hand/.pio
src/morphohand/driver/hand/.vscode

# MuJoCo runtime dumps
MJDATA.TXT
MUJOCO_LOG.TXT
*_MJDATA.TXT
*_MUJOCO_LOG.TXT